/* Global Style */
* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(87, 85, 194);
  --secondary: rgb(80, 39, 134);
  --tertiary: rgb(233, 215, 218);
  --white: rgb(255, 255, 255);
}

body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: fill;
  color: var(--secondary);
  margin: 0 auto;
  padding-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}


.page {
  background-color: var(--white);
  border: 1px solid black;
  margin: 100px auto 0 auto;
  max-width: 600px;
  padding: 20px;
}

.btn {
  font-size: 15px;
  font-weight: 300;
  color: var(--primary);
  padding: 20px 20px;
  margin: 15px;
  border: none;
  border-radius: 10px;
  background: #e2d1c3;
  transition: background-color 0.1s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--tertiary);
}

/* Header Style*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

header h3 {
  font-size: 1rem;
  display: inline;
  color: var(--secondary);
}

.timer {
  font-size: 1.5rem;
  color: var(--secondary);
  display: inline;
  text-align: right;
  padding-right: 20px;
}

/* Quiz Style */
.hide {
    display: none;
  }

.end-content input[type=text] {
 color: black;
 font-size: 1rem;
 display: inline-flex;
 border-radius: 10px;
 transition: width 0.4s ease-in-out;
  }

input[type=text]:focus {
  background-color: var(--tertiary);
  width: 50%;
}